.idea
vue/node_modules
/api-service/vendor
/api-service/public/update
/api-service/runtime
api-service/swoole/bin/swoole-cli.exe
api-service/swoole/tmp
api-service/swoole/home/Administrator/.composer/cache
/api-service/runtime

