.el-button+.sc-upload {
	margin-left: 10px;
}

.modal-form{
	width: 80vw;
}

.setMenuRoles .el-divider--horizontal{
	margin: 15px 0;
}
.el-overlay{
	z-index: 2000!important;
}

.column{
	.el-container{
		flex-direction: column;
	}
}

.yj-filter{
	display:flex;
	flex-wrap: wrap;
	.yj-filter-item{
		display:flex;
		align-items: center;
		margin-left: 20px;
		margin-bottom: 10px;
		.yj-filter-label{
			width:100px;
			font-size: var(--el-form-label-font-size);
			color: var(--el-text-color-regular);
			padding: 0 12px 0 0;
			justify-content: flex-end;
			align-items: flex-start;
		}
	}
}
.modal-form.el-message-box {
    --el-messagebox-width: 90vm;
}